/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #fafafa;
  line-height: 1.3;
  color: #c1bfbf;
}

a {
  color: #908f8f;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.wraper {
  padding: 2em;
}

/* =================================
  Base Layout Styles
==================================== */

.name, h3 {
  color: #908f8f;
}

.second-title {
  font-size: 1em;
  margin-top: 0;
}

/* ---- Navigation ---- */

.main-nav ul {
  padding: 0;
}

/* ---- Layout Containers ---- */

.primary-content {
    padding-top: 1em;
}

.primary-content p {
  margin-bottom: 0;
}

.container {
  background: #fff;
  padding: 2em 1em;
  text-align: center;
}

.secondary-content {
  text-align: center;
}

.secondary-content p {
  margin-top: 0;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 320px) {

  .wraper {
    text-align: center;
  }

  .container {
    margin: 0 auto;
  }

  .container img {
    margin-top: 1em;
  }

  .main-nav a {
    display: block;
  }

  .main-nav li {
    background: #fff;
    padding: 0.7em;
    margin-top: 5px;
  }

  .nav-footer {
    display: none;
  }

  .main-footer h1 {
    font-size: 1em;
    float: left;
  }

  .main-footer a {
    float: right;
  }
}

@media (min-width: 768px) {

  .main-nav ul{
  }

  .main-nav li {
    display: inline-block;
    background: none;
  }

  .primary-content {
    display: inline-block;
    font-size: 1.4em;
    text-align: justify;
  }

  .primary-content img {
    width: 40%;
    float:right;
    margin-left: 1em;
  }

  .container {
    display: inline-block;
    float: left;
  }

}

/* =================================
  clearfix
==================================== */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
